.searchContainer{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.searchbox{
    align-items: center;
    display: flex;
    width: 200px;
    height: 30px;
    padding: 2px;
}

.searchbox input{
    flex: 1;
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    padding-left: 5px;
}

.button{
    background-color: transparent;
    font-size: 20px;    
    color: rgb(0, 0, 0);
    width: 30px;
    height: 20px;
    cursor: pointer;
    border-style: none;
}

.button:hover{
    color: rgb(6, 137, 149);
}