.currentPageButton{
    background-color: rgb(245, 223, 28);
    cursor: pointer;
    border-radius: 15px;
    height: 28px;
    width: 28px;
    border-width: 1px;
}

.buttonPage{
    cursor: pointer;
    border-radius: 15px;
    height: 26px;
    width: 26px;
    border-width: 1px;  
}

.bOn{
    background-color: transparent;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
    font-size: 17px;
    font-weight: bold;
}

.bOff{
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    font-size: 17px;
    font-weight: bold;
}

.cont{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}