
.navContainer{
    list-style: none;
}

.navContainer li{
    display: inline-block;
    padding: 0px 10px;
}

.menu:hover{
    color: #000000;
    background-color:chocolate ;
    font-weight: bold;
}

.menu{
    color: white;
    padding: 9px 50px;
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.header{
    width: 100%;
    height:  50px;
    background-color: peru;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#round{
    border-radius: 10px;
}